[submodule "zed-ros2-wrapper"]
	path = src/zed-ros2-wrapper
	url = https://github.com/wuxiaohua1011/zed-ros2-wrapper.git
[submodule "livox_ros2_driver"]
	path = src/livox_ros2_driver
	url = https://github.com/wuxiaohua1011/livox_ros2_driver
[submodule "src/arduino_radiolink"]
	path = src/arduino_radiolink
	url = https://github.com/wuxiaohua1011/arduino_radiolink
[submodule "src/central_arduino"]
	path = src/central_arduino
	url = https://github.com/wuxiaohua1011/central_arduino.git
[submodule "src/point_one_gps_driver"]
	path = src/point_one_gps_driver
	url = https://github.com/wuxiaohua1011/point_one_gps_driver
[submodule "src/fusion-engine-client"]
	path = src/fusion-engine-client
	url = https://github.com/PointOneNav/fusion-engine-client.git
[submodule "src/arduino_comm"]
	path = src/arduino_comm
	url = https://github.com/wuxiaohua1011/arduino_comm
