[submodule "zed-ros2-wrapper"]
	path = src/zed-ros2-wrapper
	url = git@github.com:wuxiaohua1011/zed-ros2-wrapper.git
[submodule "livox_ros2_driver"]
	path = src/livox_ros2_driver
	url = git@github.com:wuxiaohua1011/livox_ros2_driver.git
[submodule "src/central_arduino"]
	path = src/central_arduino
	url = git@github.com:wuxiaohua1011/central_arduino.git
[submodule "src/arduino_comm"]
	path = src/arduino_comm
	url = git@github.com:wuxiaohua1011/arduino_comm.git
[submodule "src/septentrio_gnss_driver"]
	path = src/septentrio_gnss_driver
	url = git@github.com:septentrio-gnss/septentrio_gnss_driver.git
